<div class="sidenav-main-container">
    <div class="logo-brand">
        <img src="assets/logo.png" width="40px">
        <span>PRAVI</span>
    </div>
    <div class="m-2 sidenav-avatar">
        <a><img style="width:100%" [src]="profile.image" class="m-2 rounded-circle" style="width: 100px;"alt="Avatar"/></a>
        <span class="profile-name">{{profile.name}}</span>
        <span class="profile-role">{{profile.role}}</span>
    </div>
    <a routerLink="/dashboard/main/home" >Home</a>
    <a routerLink="/dashboard/main/ticket" >Ticket</a>

</div>
