<div class="products-container">
    <div *ngFor="let item of products" class="card">
        <img  src={{item.image}} alt="Card image cap">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h5 class="card-title">{{item.title}}</h5>
                <h5>{{item.price}} $</h5>
            </div>
          <p class="card-text">{{item.description}}</p>
            <div class="add-to-cart">
                <a (click)="addToCart(item)" class="mt-2 btn btn-primary">Add to cart</a>
            </div>
        </div>
      </div>
</div>