<header>
  <div class="logo-brand">
    <div (click)="onHamburger()" class="hamburger">
      <i class="bi bi-list"></i>
    </div>
    <img src="assets/logo.png" width="40px">
    <span>PRAVI</span>
  </div>
  <div class="menu-brand">
    <a  href="#">Features</a>
    <a  href="#">Services</a>
    <a  href="#">About</a>
    <a  href="#">Pricing</a>
    <a  href="#">Contact Us</a>
    <button routerLink="/auth/login" class="m-1 btn btn-light">Login</button>
    <button routerLink="/auth/signup" class="m-1 btn btn-primary signup-btn">Signup</button>
  </div>
  <div class="menu-brand-mobile">
    <button routerLink="/auth/login" class="m-1 btn btn-light">Login</button>
    <button routerLink="/auth/signup" class="m-1 btn btn-primary signup-btn">Signup</button>
  </div>

</header>
